@inject ProductService service
@page "/cat"


<h3>CategoryList</h3>
<NavLink class="nav-link" href="add">Add</NavLink>
<br />
<hr />
<table class="table table-responsive table-striped table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var cat in data)
		{

			<tr>
				<td>@cat.ProductCategoryID</td>
				<td>@cat.Name</td>
				<td>
					<ol>
						@foreach (var product in cat.Products)
						{
							<li>
								<dl>
									<dt>Name</dt>
									<dd>@product.Name</dd>
									<dt>Number</dt>
									<dd>@product.ProductNumber</dd>
									<dt>Color</dt>
									<dd>@product.Color</dd>
								</dl>
							</li>
						}
					</ol>
				</td>
				<td class="btn-group">
					<a class="nav-link btn btn-outline-info" href="/edit/@cat.ProductCategoryID">Edit</a>
					<button class="btn btn-outline-danger" @onclick="()=> DeleteData(cat)">
						Delete
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>



@code {

	private IList<ProductCategory>? data = new List<ProductCategory>();
	//private List<Product> data = new List<Product>();


	protected override async Task OnInitializedAsync()
	{

		await loadData();

	}

	async Task loadData()
	{
		this.data = await this.service.GetAll();
	}

	async Task DeleteData(ProductCategory category)
	{
		// var confirm = await js.InvokeAsync<bool>("confirm", $"delete data of {category.Name}?");

		// if (!confirm) return;


		// var result = await this.service.Delete(category.ProductCategoryID);

		// if (result.IsSuccessStatusCode)
		// {
		// 	await loadData();
		// }
		//this.StateHasChanged();
	}



}
